---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

const { img, name, title, description } = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/images/*.{jpeg,jpg,png,gif}"
);
if (!images[img])
  throw new Error(
    `"${img}" does not exist in glob: "src/assets/images/*.{jpeg,jpg,png,gif}"`
  );
---
<section>
  <article class="card">
        <header>
          <div class="image-container">
          <Image src={images[img]()} alt={name} class="profile-image"/>
            <h1>{name}</h1>
            <h2 class="title-overlay">{title}</h2>
            <p>{description}</p>
          </div>
<div class="SoMe">
  <img src="/src/icons/ig.svg" alt="insta"><img src="/src/icons/fb.svg" alt="facebook"><img src="/src/icons/x.svg" alt="twitter">
</div>
        </header>
    </article>
</section>
<style>
.image-container {
    position: relative;
}

.title-overlay{
  position: absolute;
    top: 260px;
    right: 10px;
    z-index: 10;
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    
  }

  article{
    width: fit-content;
  }
  .SoMe{
    display: flex;
    gap: 29px;
  }

  .SoMe img{
    max-width: 24px;
  }

  .profile-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 25px;
  }

  h1{
    color: var(--h1);
text-align: center;
font-size: 30px;
font-weight: 700;
margin-bottom: 13px;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  p{
    margin-bottom: 27px;
    word-wrap: break-word;
    max-width: 300px;
  }

  h2 {
    padding-left: 27px;
    padding-right: 27px;
    z-index: 10;
    max-width: fit-content;
    border-radius: 29px;
    background-color: #FFCC4A;
    backdrop-filter: blur(5.5px);
}

</style>